In [1]:
#importing libraries

import pandas as pd
import numpy as np

In [2]:
#importing dataset

meta_complete_data = pd.read_csv('META.csv')

In [3]:
meta_complete_data.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-01-02  78.580002  78.930000  77.699997  78.449997  78.449997  18177500
1  2015-01-05  77.980003  79.250000  76.860001  77.190002  77.190002  26452200
2  2015-01-06  77.230003  77.589996  75.360001  76.150002  76.150002  27399300
3  2015-01-07  76.760002  77.360001  75.820000  76.150002  76.150002  22045300
4  2015-01-08  76.739998  78.230003  76.080002  78.180000  78.180000  23961000

In [4]:
meta_training_processed = meta_complete_data[['Open']].values

In [5]:
#scaling features

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0,1))

meta_training_scaled = scaler.fit_transform(meta_training_processed)

In [6]:
len(meta_training_scaled)

1257

In [9]:
#training features contained data of last 60 days
#training labels contain data of the 1st day

meta_training_features = []
meta_training_labels = []

for i in range(60, len(meta_training_scaled)):
    meta_training_features.append(meta_training_scaled[i - 60:i,0])
    meta_training_labels.append(meta_training_scaled[i,0])

In [10]:
#converting training data to numpy arrays
X_train = np.array(meta_training_features)
y_train = np.array(meta_training_labels)

In [11]:
print(X_train.shape)
print(y_train.shape)

(1197, 60)
(1197,)

In [12]:
#converting data into 3D shape

X_train = np.reshape(X_train, (X_train.shape[0],X_train.shape[1],1))

In [13]:
print(X_train.shape)

(1197, 60, 1)

In [14]:
import matplotlib.pyplot as plt
from tensorflow.keras.layers import Input, Activation, Dense, Flatten, Dropout, Flatten, LSTM
from tensroflow.keras.models import Model

ModuleNotFoundError: No module named 'tensorflow'

In [15]:
import tensroflow as tf

ModuleNotFoundError: No module named 'tensroflow'